<div class="p-4 sm:p-6 md:p-8 flex flex-col items-center">
  <div class="w-full max-w-6xl bg-sky-100 bg-opacity-20 shadow-lg rounded-lg p-6 md:p-8">
    <section class="mb-8 text-center">
      <h1 class="text-3xl md:text-4xl font-semibold text-gray-500 mb-2">
        <span class="text-gray-500">Clima agora em</span> {{ forecast.cityName }},
        <button (click)="toggleFavorite()"
          class="float-right p-2 rounded-full text-white transition-colors duration-200 focus:outline-none focus:none focus:none focus:none">
          <i [ngClass]="isFavoriteCity ? 'fas fa-star text-fuchsia-500' : 'far fa-star text-gray-200'"></i>
        </button>
      </h1>

      <p class="text-gray-500 text-lg md:text-xl">8 de Junho</p>

      <div class="flex flex-col md:flex-row items-center justify-center gap-4 mt-6">
        <img [src]="'https://openweathermap.org/img/wn/' + forecast.icon + '.png'" alt=""
          class="w-20 h-20 md:w-24 md:h-24">
        <div class="flex flex-col items-center md:items-start">
          <p class="text-6xl md:text-7xl font-light text-gray-500">{{ forecast.temperature.toFixed(0) }}ºC</p>
          <p class="text-2xl md:text-3xl text-gray-500"> {{ forecast.condition }}</p>
        </div>
      </div>

      <div class="mt-8 grid grid-cols-2 md:grid-cols-4 gap-4 text-gray-500">
        <div class="flex flex-col items-center">
          <span class="text-xl font-medium">Umidade</span>
          <span class="text-2xl">{{ forecast.humidity }}%</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-xl font-medium">Vento</span>
          <span class="text-2xl">15 km/h</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-xl font-medium">Sensação</span>
          <span class="text-2xl">27°C</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-xl font-medium">Índice UV</span>
          <span class="text-2xl">8 (Alto)</span>
        </div>
      </div>
    </section>

    <hr class="my-8 border-indigo-300">

  </div>
</div>